.feedback {
  background: url(../img/feedback_bg.webp) center center/cover no-repeat;
  min-height: 588px;
  padding: 80px 0;

  &__wrapper {
    margin: 48px auto 0;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(340px, 648px));

    @media (max-width: 1300px) {
      grid-template-columns: repeat(1, minmax(576px, 648px));
    }

    @media (max-width: 620px) {
      margin: 27px auto 0;
      grid-template-columns: repeat(1, minmax(340px, 648px));
    }
  }

  &__card {
    max-width: 648px;
    padding: 32px;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
  }

  &__person {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__avatar {
    max-width: 80px;
    height: 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__org {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }

  &__name {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  &__icon {
    max-width: 55px;
    height: 55px;
  }

  &__text {
    margin-top: 16px;
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__btns {
    display: flex;
    gap: 24px;
    margin-top: 32px;
  }
}
