.header {
  &-top {
    min-height: 52px;
    background: #010101;
    padding: 17px 0;

    &__contacts {
      display: flex;
      gap: 28px;
      justify-content: start;
      align-items: center;
    }

    &__contact {
      gap: 8px;
    }

    &__link {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      transition: 0.4s all;
    }

    &__link:hover {
      color: #4f8ff0;
    }

    &__btn {
      background: transparent;
      color: #4f8ff0;
      font-size: 14px;
      font-weight: 700;
      transition: 0.4s all;
    }

    &__btn:hover {
      color: #fff;
    }
  }

  &-bottom {
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 20px 0 28px 0;
    background: rgba(1, 1, 1, 0.76);

    &__list {
      gap: 32px;
    }

    &__link {
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.4s all;
    }

    &__link:hover {
      text-decoration: underline;
      color: #4f8ff0;
    }
  }
}

@media (max-width: 1300px) {
  .header-bottom {
    padding: 18px 0 19px 0;

    &__nav {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .header {
    &-top__contact_mail {
      display: none;
    }
  }
}
