@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url(../NunitoSans-Black.woff);
  src: url(../NunitoSans-Bold.woff);
  src: url(../NunitoSans-ExtraBold.woff);
  src: url(../NunitoSans-ExtraLight.woff);
  src: url(../NunitoSans-Light.woff);
  src: url(../NunitoSans-Regular.woff);
  src: url(../NunitoSans-SemiBold.woff);
}
