.btn-blue {
  border: 2px solid #4f8ff0;
  padding: 16px 24px;
  background: #4f8ff0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.4s all;

  &:hover {
    color: #4f8ff0;
    background: #fff;
  }
}

.btn-gray {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  padding: 16px 24px;
  transition: 0.4s all;

  &:hover {
    background: #fff;
  }
}
