.title {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  color: #222;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #4f8ff0;
    margin-top: 10px;
  }

  @media (max-width: 1300px) {
    font-size: 24px;
  }

  @media (max-width: 620px) {
    font-size: 20px;
  }
}

.title-center {
  font-weight: 800;
  font-size: 28px;
  text-transform: uppercase;
  color: #222;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #4f8ff0;
    margin: 10px auto 0;
  }

  @media (max-width: 1300px) {
    font-size: 24px;
  }

  @media (max-width: 620px) {
    font-size: 20px;
  }
}

.logo-blue {
  display: flex;
  flex-direction: column;
  color: #4f8ff0;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;

  @media (max-width: 1300px) {
    font-size: 22px;
  }

  @media (max-width: 620px) {
    font-size: 22px;
  }
}

.logo-white {
  margin-top: -10px;
  color: #fff;
  font-size: 20px;
  text-transform: lowercase;

  @media (max-width: 1300px) {
    font-size: 16px;
  }
}
